<ion-header>
  <ion-toolbar>

    <ion-buttons>
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->
      <ion-menu-button color="primary"
                      menu="primerMenus"></ion-menu-button>

    </ion-buttons>

    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-button href="/alert">Alert</ion-button>
  <ion-button href="/action-sheet">Action Sheet</ion-button>
  


</ion-content>
